@mixin responsive-spacing {
    // 1920 ~ 1441
    @media (max-width: 1920px) and (min-width: 1441px) {
        padding-left: 240px;
        padding-right: 240px;
    }
    // 1440 ~ 1281
    @media (max-width: 1440px) and (min-width: 1281px) {
        padding-left: 200px;
        padding-right: 200px;
    }
    // 1280 ~ 1025
    @media (max-width: 1280px) and (min-width: 1025px) {
        padding-left: 150px;
        padding-right: 150px;
    }
    // 1024 ~ 721
    @media (max-width: 1024px) and (min-width: 721px) {
        padding-left: 100px;
        padding-right: 100px;
    }
    // 720 ~ 481
    @media (max-width: 720px) and (min-width: 481px) {
        padding-left: 50px;
        padding-right: 50px;
    }
    // 480 ~ 351
    @media (max-width: 480px) and (min-width: 351px) {
        padding-left: 40px;
        padding-right: 40px;
    }
    // 350 이하
    @media (max-width: 350px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}