@use "./variables.scss" as *;

.detailMain{
    letter-spacing: .5;
    color: #333;
    width: 1440px;
    margin: 150px auto;
    padding: 0 50px;
    align-items: center;
    text-align: center;
    .underline{
        width: 500px;
        height: 1px;
        background: #ddd;
        margin: 150px auto; 
    }
    .DMTop{
        .topText{
            line-height: 200%;
            h2{font-size: 42px; font-weight: 500; margin-bottom: 30px;}
            h3{font-size: 38px; font-weight: 200; margin-bottom: 20px;}
            p{color: #666;}
            h4{margin-top: 80px; font-size: 24px; font-weight: 400;}
            margin-bottom: 50px;
        }
        .topImg{
            img{
                width: 1000px;
                height: 450px;
                object-fit: cover;
                overflow: hidden;
            }
            margin-bottom: 50px;
            
        }
        .topTextB{
            h5{line-height: 200%; font-size: 18px; font-weight: 400;}
        }
    }
    .DMNote{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 200px;
        .detailMN_text{
            text-align: left;
            div{
                margin-bottom: 30px;
                h5{font-size: 22px; font-weight: 600; margin-bottom: 13px;}
                p{font-size: 18px; font-weight: 400; color: #666;}
            }
        }
        .triangle{
            img{width: 70%;}
        }
    }
    .DMVideo{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 0 200px;
        height: 600px;
        .vi{
            display: flex;
            justify-content: center;
        }
        .videoText{
            display: flex;
            justify-content: center;
            flex-direction: column;
            span{
                margin-bottom: 40px;
                font-size: 19px;
            }
            p{font-size: 15px; line-height: 200%; color: #555;}
        }
    }
    .DMimg{
        margin-top: 100px;
        img{width: 950px; margin-bottom: 50px;}
    }
}