@use "./variables.scss" as *;

.detailBottom{
    padding: 0 350px;
    margin-top: 150px;
    margin-bottom: 150px;
    color: #333;
    .db_top{
        margin-bottom: 200px;
        text-align: center;
        line-height: 200%;
        p{font-size: 20px; margin-bottom: 40px;}
        .db_logo{
            h5{font-size: 60px; font-weight: 400; color: #000;}
            p{margin-top: 5px; font-size: 16px; font-weight: 300;}
        }
        .vcs{}
    }
    ul{
        .ulhr{
            width: 100%;
            height: 1px;
            background: #ddd;
            margin: 10px auto; 
        }
        line-height: 200%;
        margin-bottom: 10px;
        li{
            .liTop{
                font-size: 18px;
                display: flex;
                justify-content: space-between;
                span{}
                .arrowDIcon{transition: transform 0.3s;}
                .arrowDIcon.open {
                    transform: rotate(180deg);
                }
            }
            .liIn{
                line-height: 180%;
                padding: 0 20px;
                max-height: 0;
                overflow: hidden;
                transition: all 0.4s ease;
                font-size: 14px;
                li{margin: 10px 0;}
            }
            .liIn.show {
                max-height: 500px;
            }
        }
    }
}