@use './variables' as *;

.quickBtn{
    position: fixed;
    bottom: 100px; right: 50px;

    .top{
        cursor: pointer;
        display: block;
        text-align: center;
        border-radius: 50%;
        border: none;
        width: 45px;
        height: 45px;
        background: $beige;
        box-shadow: 3px 3px 5px #53535377;
        font-size: 42px;
        color: $sub2;
    }
}